@model PagedResult<Game>

@{

    ViewData["action"] = "List";
    ViewData["Controller"] = "Games";

}



<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> All Games </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    </ol>
                </nav>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table id="order-listing" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Game Name </th>
                                        <th>Category  </th>
                                        <th>Supported Devices  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cat in Model.Data)
                                    {

                                        <tr style="margin:0px;padding:0px;">
                                            <td class="col-md-8">@cat.Name</td>
                                            <td class="col-md-8">@cat.Category?.Name</td>


                                            @if ((@cat.GameDevices.Count())==1)
                                            {
                                                <td class="col-md-8">@cat.GameDevices.FirstOrDefault()?.Device.Name</td>

                                            }
                                            else
                                            {
                                                @foreach (var dd in @cat.GameDevices.ToList())
                                                {
                                                    <td class="col-md-8">@dd.Device.Name</td>

                                                }


                                            }
                                            
                                        </tr>


                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
</div>
<br />

<partial name="_pager" view-data="@ViewData" model="@Model" />

@section Scripts
    {
    <!-- plugins:js -->
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->
}


